*.pyc
settings.py
.*.swp
db.sqlite
db/dev.sqlite3
media/*
tmp/*
config/databases.py
log/*
public/static/*
*nohup.out
.achievements
whoosh_index
celerybeat-schedule
build
dist
django_invitable.egg-info
